@model IEnumerable<Webshop.Web.Models.Location>

@{
    ViewBag.Title = "LocationsList";
}

<h2>List of locations</h2>

@if (Model.Count() == 0)
{
    <h2>No data in the database</h2>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Street)</th>
            <th>@Html.DisplayNameFor(m => m.First().House_Number)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <@foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Street)</td>
                <td>@Html.DisplayFor(m => item.House_Number.ToString())</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.ID })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.ID })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.ID })</td>
            </tr>
        }
    </table>
}
